.main-title {
  margin: 3rem 0;
  width: 100%;
}

.text-center {
  text-align: center;
}

.movie-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem 3rem;
}

.movies-wrapper {
  width: 79%;
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, .125);
}

.favorites-wrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, .125);
  padding: 1rem;
}

.card {
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  /* background-clip: border-box; */
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 1rem;
  padding: 1rem;
  width: 22%;
  margin: 1% 1% 1%;
}

.card>.star {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  top: 0px;
  right: 0px;
}

.card>.star:hover {
  cursor: pointer;
}

.star-white {
  background: url(../img/star-white.png) no-repeat
}

.star-gold {
  background: url(../img/star-gold.png) no-repeat
}

.star-white {
  display: block;
  background-image: "../img/star-white.png";
  width: 72px;
  height: 72px;
  /* position: relative; */
  top: 2rem;
  right: 3rem;
}

.movie-img {
  width: 100%;
  height: 320px;
  flex-shrink: 0;
  padding-bottom: 2rem;
  /* position: absolute; */
}

.movie-text,
.favorite-title {
  font-size: 1.2rem;
  line-height: 1.3;
}

/* Favorite List */

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

.favorite-ul {
  /* list-style-image: url(../img/arrow.png);
  list-style-position: outside; */
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

.favorites-title {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 40px; */

  line-height: 1.1;
  font-weight: 500;
  padding: 0.5rem 0 1rem;
}

.favorites-title::before {
  content: url(../img/star-gold.png);
  padding-right: 1rem;
}

.favorite-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.favorite-text>span {
  display: block;
  font-size: 0.8rem;
  line-height: 1.1rem;
  text-align: left;
}

.favorite-text>span:last-child {
  width: 2rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.favorite-text>.delete-mark:hover {
  cursor: pointer;
}