$line-color: rgba(0, 0, 0, .125);
$color-gold: #F7AC08;

//  Main 
.movie-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem 3rem;
  max-width: 1200px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.main-title {
  margin: 3rem 0;
  width: 100%;
}

//  Dashboard
.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid $line-color;
  padding: 2rem 0;
  padding-right: 21%;
  margin-bottom: 1rem;

  .dashboard-select {
    margin-left: 1.5rem;
    width: 15rem;
  }

  .dashboard-view {
    display: flex;
  }

  .view-text {
    margin-right: 1.5rem;
    font-size: 1.2rem;
    line-height: 1;
  }

  .svg-icon {
    width: 35px;
    height: 35px;
    margin: 0 0.4rem;

    &:hover {
      cursor: pointer;
    }
  }

  .grid-dark {
    background: url(../img/svg/grid-dark.svg) no-repeat center;
    background-size: 35px 35px;
  }

  .grid-gray {
    background: url(../img/svg/grid-gray.svg) no-repeat;
    background-size: 35px 35px;
  }

  .list-dark {
    background: url(../img/svg/list-dark.svg) no-repeat;
    background-size: 35px 35px;
  }

  .list-gray {
    background: url(../img/svg/list-gray.svg) no-repeat;
    background-size: 35px 35px;
  }



}


// Movies: grid, list & wrappers

.movies-wrapper {
  width: 79%;
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 1rem;
  border: 1px solid $line-color;
}

.favorites-wrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 1px solid $line-color;
  padding: 1rem;
}

.card {
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border: 1px solid $line-color;
  border-radius: 1rem;
  padding: 1rem;
  width: 22%;
  margin: 1% 1% 1%;
}

.card>.star {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  top: 0px;
  right: 0px;
}

.card>.star:hover {
  cursor: pointer;
}

.star-white {
  background: url(../img/star-white.png) no-repeat
}

.star-gold {
  background: url(../img/star-gold.png) no-repeat
}

.star-white {
  display: block;
  background-image: "../img/star-white.png";
  width: 72px;
  height: 72px;
  /* position: relative; */
  top: 2rem;
  right: 3rem;
}

.movie-img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  padding-bottom: 2rem;

  &:hover {
    cursor: pointer;
  }
}

.movie-text {
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 0.6rem;
}

/* Favorite List */

.favorite-title>span {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 0.6rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

.favorite-ul {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

.favorites-title {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.1;
  font-weight: 500;
  padding: 0.5rem 0;
}

.favorites-title::before {
  content: url(../img/star-gold.png);
  padding-right: 1rem;
}

.favorite-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid $line-color;

  &:hover {
    cursor: pointer;
  }
}

.favorite-text>span {
  display: block;
  font-size: 0.8rem;
  line-height: 1.1rem;
  text-align: left;
}

.favorite-text>span:last-child {
  width: 2rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.favorite-text>.delete-mark:hover {
  cursor: pointer;
}

.allert-warning {
  display: block;
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Modal */

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #6b6b6b;
  // position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  &-hide {
    display: none;
  }

}


.modal-title {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.modal {
  cursor: pointer;

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
    line-height: 0.6;
    font-weight: bold;
    // width: 60px;
    // height: 60px;
    color: $line-color;
    color: rgba(15, 15, 15, 0.6);

    &:hover {
      cursor: pointer;
    }
  }

  .movie {

    &-content {
      position: relative;
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: top;
      background-color: #fff;
      padding: 2rem;
      cursor: auto;
      z-index: 20;

      &-left {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &-rigth {
        width: 70%;
      }
    }

    &-img {
      width: 170px;
      height: auto;
      padding-bottom: 0rem;
    }

    &-star-year {
      padding-bottom: 0.5rem;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
    }

    &-star,
    &-year {
      display: block;
      line-height: 1;
      font-size: 3rem;
      padding-right: 4rem;
    }

    &-star {
      color: $color-gold;
      padding-left: 2rem;
    }

    &-year {
      font-size: 1rem;
    }

    &-geners {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      align-items: stretch;

      span {
        display: block;
        border: 1px solid $line-color;
        border-radius: 0.3rem;
        padding: 0.1rem 1rem;
        margin: 0.2rem 0.5rem;
        min-width: 6rem;
        text-align: center;
      }

    }

    &-title {
      font-size: 1.5rem;
      font-weight: bold;
      padding-bottom: 0.5rem;
    }

    &-description {
      font-size: 1.0rem;
      font-weight: 400;
      padding-bottom: 1.5rem;
    }

    &-director {
      font-size: 0.8rem;
      font-weight: 400;
      padding-bottom: 0.5rem;
      padding-top: 1rem;
    }

    &-starting {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      align-items: stretch;
      font-size: 0.8rem;
      font-weight: 400;
    }

    &-text-bold {
      font-weight: bold;
    }
  }
}


// All movies list 
.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  //  padding: 2rem;
  .star {
    top: 1rem;
    right: 1rem;
  }

  .movie-content-left {
    width: 30%;

    .movie-img {
      width: 100%;
      height: auto;
      padding-bottom: 0;
    }
  }

  .movie-content-rigth {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0 2rem;

    .movie-title {
      .movie-text {
        font-size: 1.5rem;
        font-weight: bold;
        margin-right: 3rem;
        padding-bottom: 3rem;
      }
    }

    .movie-geners {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      align-items: stretch;

      span {
        display: block;
        border: 1px solid $line-color;
        border-radius: 0.3rem;
        padding: 0.1rem 1rem;
        margin: 0.2rem 0.5rem;
        min-width: 6rem;
        text-align: center;
      }
    }
  }
}

//   GRID 

.movie-gallery {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 100px minmax(100px, auto) 1fr;
  grid-template-areas:
    "title title"
    "dashboard plug"
    "movies favorites";
  grid-gap: 1rem;
}

.main-title {
  grid-area: title;
  width: auto;
  justify-self: center;
  align-self: center;
}

.dashboard {
  grid-area: dashboard;
  padding: 0rem 2rem;
  margin: 0;
  flex-wrap: wrap;

  .dashboard-select,
  .dashboard-view {
    margin: 1rem 0 1rem;
  }
}

.plug {
  grid-area: plug;
}

.movies-wrapper {
  grid-area: movies;
  width: 100%;
  justify-content: space-around;

  .card {
    flex-basis: 200px;
    margin: 2% 1% 4%;
  }
  .card.list {
    flex-basis: unset;
  }
}

.favorites-wrapper {
  grid-area: favorites;
  width: 100%;
}

// query 

@media screen and (max-width: 992px) {
  .movie-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, auto);
    grid-template-areas:
      "title"
      "dashboard "
      "movies "
      "favorites";
    grid-gap-row: 1rem;
  }
}

@media screen and (max-width: 668px) {
  .list .movie-content-left {
    width: 100%;
    padding: 50px;
  }
  .list .movie-content-left .movie-img {
    display: block;
    width: 200px;
    height: auto;
    margin: 0 auto;
  }
  .list .movie-content-rigth {
    width: 100%;
    height: 360px;
    padding: 0 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .movie-title > span:nth-of-type(2) {
      font-style: italic;
      font-size: 1rem;
      line-height: 1;
    }
  }
}